.header{
    background-color: white;
    // position: sticky;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99;
    .head{
        @include main-width-auto();
        @include flex(space-between,center);
        .logo{
            flex-grow: 1;
            a{
                img{
    
                }
            }
        }
    
        nav{
            flex: 1 1 20%;
            .menu-bar{
                @include flex(space-around,center);
                li{
                    position: relative;
                    a{
                        color: #333;
                        display: block;
                        padding: 36px 10px;
                        font-size: 18px;
                        font-weight: 700;
                        text-align: center;
                        white-space: nowrap;
                    }
                    .drop{
                        display: none;
                        text-align: left;
                        width: 180px;
                        position: absolute;
                        li{
                            background-color: white;
                            a{  
                                border-top:0.5px solid rgba(0, 0, 0, 0.1) ;
                                padding: 24px 15px;
                                text-align: left;
                                font-weight: 500;
                                font-size: 16px;
                                &:hover{
                                    background-color: #1f5153;
                                    color: white;
                                    transition: 0.5s;
                                }
                            }
                        }
                    }
                    &:hover .drop{
                            display: block;
                    }
                }
            }
        }
    
        .search-menu{
            flex: 1;
            @include flex(flex-end,center);
            form{
                input{
                    width: 130px;
                    border: none;
                    border-bottom: 2px solid #333;
                    outline: none;
                }
                button{
                    border: none;
                    outline: none;
                    background: none;
                    img{
                        padding: 0 6px;
                        cursor: pointer;
                    }
                }
                &::after{
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    background-color: rgba(0, 0, 0, 0.12);
                }
            }
    
            select{
                margin-right: 4%;
                padding: 0 4%;
                border: none;
                appearance: none;
                font-size: 14px;
                cursor: pointer;
                option{
    
                }
            }
        }
    
        .hammenu{
            position: relative;
            display: block;
            width: 40px;
            height: 40px;
            background-color: #1f5153;
            z-index: 12;
            cursor: pointer;
            .ham{
                width: 20px;
                height: 14px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                span{
                    transition: all 0.2s linear;
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    display: block;
                    background-color: #fff;

                    &:nth-of-type(1){
                        top: 0%;
                    }

                    &:nth-of-type(2){
                        top: 50%;
                    }

                    &:nth-of-type(3){
                        top: 100%;
                    }
                }
            }

        }
    }

    .ham-drop-box{
        display: none;
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;

        .logo{
            background-color: white;
            text-align: center;
            padding: 20px 0;
            a{
                img{
                    display: inline-block;
                }
            }
        }
        .ham-drop{
            display: flex;
            text-align: center;
            justify-content: center;
            background-color: #1f5153;
            padding: 38px 0;
            li{
                max-width: 150px;
                flex: 1 1 0;
                a{
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 28px;
                    color: white;
                }
                ul{
                    li{
                        margin-bottom: 28px;
                        a{
                            font-size: 16px;
                            font-weight: normal;
                            color: white;
                        }
                    }
                }
            }
        }

    }
}








.footer{
    width: 100%;
    background-color: #333;
    .footer-con{
        @include main-width-auto($p:100px 5.2%);
        background-color: #333;
        position: relative;
        .footer-top{
            @include flex(space-between,center);
            .footer-logo-box{
                @include flex(space-between,center);
                a{
                    margin-right: 38px;
                    img{
                        height: 32px;
                    }
                }
            }
            .footer-select-box{
                select{         
                    font-size: 14px;
                    width: 170px;
                    padding: 5px 15px;
                    font-weight: 800;
                    background: none;
                    border: 1px solid #333;
                    color: white;
                    option{
                        font-size: 14px;
                        font-weight: 700;
                        color: #333;
                    }
                }
            }
        }
    
        .footer-middle{
            padding: 25px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            address{
                font-size: 14px;
            line-height: 2;
            color: #999;
            font-style: normal;
            }
            .sns{
                @include flex(flex-start,center);
                padding-top: 15px;
                li{
                    margin-right: 12px;
                    a{
                        display: block;
                        img{
                            display: block;
                            
                        }
                    }
                }
            }
        }
    
        .footer-bottom{
            padding-top: 24px;
            p{
                font-size: 14px;
                color: #999;
                font-weight: bold;
            }
        }
    
        .scroll-top{
            position: fixed;
            bottom: 5%;
            right: 3%;
            background-image: url("../img/icon-angle_up_white.svg");
            background-repeat: no-repeat;
            background-size: 18px;
            background-position: 50% 50%;
            width: 60px;
            height: 60px;
            background-color: #333;
            border: 1px solid rgba(255, 255, 255, 0.1);
            cursor: pointer;
            z-index: 99;
        }
    }

}
