@import "_reset";
@import "_mixin";


@media (max-width:480px){

    .sub-con{
        .page-view{
            @include pg();
        }
    
        .con-box{
            .collection-title-box{
                padding: 50px 0;
                background-color: #1F5054;
                .collection-title{
                    width: 100%;
                    margin: auto;
                    >.left{
                        >.title{
                            font-size: 40px;
                            font-weight: bold;
                            color: white;
                            text-align: center;
                            padding: 20px 0;
                        }
                    }
        
                    >.right{
                        >ul{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            >li{
                                
                                padding: 10px 0;
                                width: 40%;
                                display: flex;
                                >p{
                                    width: 100px;
                                    color: #fff;
                                    padding-right: 10px;
                                    font-weight: bold;
                                }
                                >span{
                                    display: block;
                                    width: 60%;
                                    color: white;
                                    font-size: 14px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }
    
            .img-box{
                overflow: hidden;
                width: 100%;
                height: 450px;
                background-color: rgb(163, 163, 163);
                margin-bottom: 50px;
                position: relative;
                .bg-img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    >img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        filter:blur(5px);
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.32);
                        position: absolute;
                        left: 0;
                        top: 0;
                    
                    }
                }
                .img-print{

                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    >img{

                        height: 100%;
                        margin: auto;
                        display: block;
                        object-fit: cover;
                    }
                }
            }
    
            .dif-box{
                width: 100%;
                background-color: #f5f5f5;
                padding: 70px 0;
                .different-collections{
                    @include main-width-auto();
                    .title{
                        position: relative;
                        @include h3(){
                            font-size: 32px;
                            margin-bottom: 50px
                        };
                        .pr-ne {
                            position: absolute;
                            top: 0;
                            right: 5%;
            
                            .swiper-btn {
                                position: relative;
                                top: 0;
                                left: 0;
                                z-index: 10;
                                display: inline-block;
                                cursor: pointer;
                                color: black;
                                margin-left: 10px;
                                width: 50px;
                                height: 50px;
                                border: 1px solid black;
                                border-radius: 5%;
                                background-repeat: no-repeat;
                                background-size: 15px 15px;
                                background-position: center;
                                object-fit: cover;
            
                                &:hover {
                                    background-color: #1f5153;
                                }
            
                                &::after {
                                    content: "";
                                    display: none;
                                }
                            }
            
                            .swiper-button-prev {
                                background-image: url('../img/icon-angle_left.svg');
                                background-repeat: no-repeat;
                                background-size: 8px;
            
                                &:hover {
                                    background-image: url('../img/icon-angle_left_white.svg');
                                }
                            }
            
                            .swiper-button-next {
                                background-image: url('../img/icon-angle_right.svg');
                                background-size: 8px;
                                &:hover {
                                    background-image: url('../img/icon-angle_right_white.svg');
                                }
                            }
                        }
                    }
        
                    .swiper {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .swiper-wrapper{
                            .swiper-slide{
                                width: 25%;
                                >a{
                                    width: 100%;
                                    display: block;
                                    >figure{
                                        >.img{
                                            >img{
                                                display: block;
                                                width: 100%;
                                            }
                                        }
        
                                        >figcaption{
                                            padding: 20px 24px;
                                            background-color: white;
                                            .sld-category{
                                                color: #1f5153;
                                                font-size: 14px;
                                                margin-bottom: 10px;
                                            }
                                            .sld-title{
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
            }
    
    
        }
    
    }

}
