@import "_reset";
@import "_mixin";


@media (min-width:481px) and (max-width:1023px){
    .main {

        .video-box{
            position: relative;
            figure{
                video{
                    display: block;
                    width: 100%;
                }
            }
            .scroll-ani{
                display: none;
                overflow: hidden;
                position: absolute;
                bottom: 0;
                right: -2.3%;
                height: 280px;
                .text{
                    font-weight: 400;
                    font-size: 14px;
                    color: #333;
                    span{
                        display: block;
                        text-align: center;
                        padding: 3px 0;
                    }
                }
                .inner{
                    margin: 10px auto;
                    width: 1px;
                    height: 0%;
                    background-color: black;
                    animation: scroll-ani 2s  infinite linear;
                }
                
                // 이너에 포지션 릴레이티브주고 이너 에프터에 포지션 앱솔루트
                @keyframes scroll-ani {
                    0%{
                        height: 0%;
                    }
                    100%{
                        height: 100%;
                    }
                }
            }
        }
    
        .today-time{
            @include flex($y:center);
            .title{
                width: 30%;
                background-color: #1f5153;
                color: white;
                font-size: 12px;
                word-break: keep-all;
                line-height: 2;
                padding: 10px 20px;
                text-align: center;
            }
            .content{
                margin-left: 10px;
                font-size: 12px;
                text-align: left;
                line-height: 1.5;
                strong{
                    font-weight: bold;
                }
                span{
                    color: #555;
                }
            }
            .tail{
                display: none;
                padding: 0;
                a{
                    @include flex(center,center);
                    font-weight: bold;
                    color: #1f5153;
                    &::before{
                        content: url("../img/icon-car.svg");
                        margin-right: 10px;
                    }
                }
            }
        }
    
        .notice-box{
            @include flex(center,center){
                flex-wrap: wrap;
            };
            margin-top: 50px;
            margin-bottom: 44px;
            padding: 0 30px;
            .title{
                @include flex(flex-start,center);
                height: 50px;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                order: 1;
                flex-grow: 1;

            }
            .mySwiper{
                width: 100%;
                height: 80px;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                order: 3;
                .swiper-wrapper{
                    width: 100%;
                    height: 100%;
                    transition-timing-function: linear;
                    .swiper-slide{
                        text-align: center;
                        font-size: 14px;
                        background: #fff;
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        a{
                            text-align: left;
                            p{
                                line-height: 1.8;
                                &:nth-of-type(1){
                                    font-weight: 500;
                                    color: #999;
                                    width: 106px;
                                    margin-right: 15px;
                                }
                                &:nth-of-type(2){
                                    white-space: nowrap;
                                    font-weight: bold;
                                    font-size: 12px;
                                    color: #333;
                                }
                            }
                        }
                    }
                }
            }
            .tail{
                @include flex(center,center);
                height: 50px;
                order: 2;
                font-weight: bold;
                a{
                    font-size: 14px;
                    color: #1f5153;
                    &::after{
                        content: url("../img/icon-angle_right_green.svg");
                        margin-left: 20px;
                    }
                }
            }
        }
    
        .news{
            
            .main-title{
                @include main-title(){
                    font-size: 20px;
                };
            }
            .pr-ne{
                display: none;
                position: absolute;
                top: 0;
                right: 10%;
                .swiper-btn{
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    display: inline-block;
                    cursor: pointer;
                    color: black;
                    margin-left: 10px;
                    width: 25px;
                    height: 25px;
                    border: 1px solid black;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-size: 15px 15px;
                    background-position: center;
                    object-fit: cover;
                    &:hover{
                        background-color: #1f5153;
                    }
                    &::after{
                        content: "";
                        display: none;
                    }
                }
                .swiper-button-prev{
                    background-image: url('../img/icon-angle_left.svg');
                    &:hover{
                        background-image: url('../img/icon-angle_left_white.svg');
                    }
                }
                .swiper-button-next{
                    background-image: url('../img/icon-angle_right.svg');
                    &:hover{
                        background-image: url('../img/icon-angle_right_white.svg');
                    }
                }    
            }
    
            .news-container{
                position: relative;
                .swiper{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .swiper-wrapper{
                        transition-timing-function: linear;
                        .swiper-slide{
                            width: 58% !important;
                            height: 100%;
                            @include flex(center,center){
                                flex-direction: column
                            }
                            a{ 
                                width: 100%;
                                .badge{
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    color: black;
                                    background-color: white;
                                    border: 2px solid #1f5153;
                                    padding: 5px 20px;
                                    font-size: 14px;
                                    font-weight: 300;
                                    z-index: 2;
                                }
                                .img-box{
                                    position: relative;
                                    overflow: hidden;
                                    width: 100%;
                                    height: 530px;
                                    img{
                                        transition: 1s;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                .info{
                                    width: 100%;
                                    height: 100%;
                                    margin-top: 30px;
                                    text-align: left;
                                    .news-date{
                                        font-weight: 500;
                                        margin-bottom: 10px;
                                        font-size: 14px;
                                        color: #666;
                                    }
                                    .news-title{
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 1.2;
                                    }
                                }
    
                            }
                        }
                    }
                }
            }
    
        }
    
        .collections{
            .main-title{
                @include main-title(){
                    font-size: 20px;
                };
                margin: 100px 30px;
                border-bottom: 1px solid black;

            }
    
            .collections-content{
                margin-top: 48px;
                width: 90%;
                margin: auto;
                position: relative;
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }

                .gutter-sizer {
                    width: 10%
                }

                .grid-item {
                    box-sizing: border-box;
                    width: 45%;
                    margin-bottom: 3%;
                }
                    a{
                        margin-bottom: 7%;
                        display: block;
                        .collections-img{
                            width: 100%;
                            position: relative;
                            img{
                                width: 100%;
                                object-fit: cover;
                            }
    
                            .screen{
                                @include screen();
                                span{
                                    @include screen-span();
                                }
                            }
                        }
                        .info{
                            height: 50px;
                            padding: 10px 18px;
                            background-color: #f8f9fa;
                            .category{
                                font-size: 14px;
                                color: #1f5153;
                                margin-bottom: 5px;
                            }
                            .collections-title{
                                font-weight: 500;
                                font-size: 12px;
                                margin-bottom: 5px;
                                line-height: 1.63;
                                max-height: 3.26em;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        // &:hover .screen{
                        //     opacity: 1;
                        // }
                    }
                }
            }
        }
    }
