@import "_reset";
@import "_mixin";

.notice-box{
    @include main-width-auto();
    padding: 0 10.4%;
    .swiper-wrapper{
        flex-wrap: wrap;
        .notice{
            @include flex(space-between,center);
            width: 100%;
            height: 100%;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            div{
                padding: 25px 35px;
            }
            .title{
                width: 155px;
            }
            .content{
                flex-grow: 1;
                a{
                    @include flex();
                    p{
                        &:nth-of-type(1){
                            font-weight: 500;
                            color: #999;
                            width: 106px;
                            margin-right: 15px;
                        }
                        &:nth-of-type(2){
                            white-space: nowrap;
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                }
            }
            .tail{
                a{  
                    @include flex(center,center);
                    font-weight: bold;
                    color: #1f5153;
                    &::after{
                        content: url("../img/icon-arrow_right.svg");
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }