@import "_reset";
@import "_mixin";
@import "_inc";

@include sub-header();

.sub-con{

    .page-view{
        @include pg();
        }
    
        .con-box{
            @include sub-width-auto();
            margin-bottom: 100px;
            .sub-title{
                @include sub-title();
                background-image: url("../img/deco-guide.svg");
                background-repeat: no-repeat;
                animation: qwe 2s forwards;
                background-position: 180% -300%;

            }
            @keyframes qwe {
                0%{
                    background-position: 180% -300%;
                }

                100%{
                    background-position: 90% -300%;
                }   
            }

            .tab1{
                @include con-box-margin-b();
                ul{
                    @include flex(space-between,center);
                    border: 1px solid #e0e0e0;
                    li{
                        width: 50%;
                        text-align: center;
                        position: relative;
                        a{
                            width: 100%;
                            display: block;
                            text-align: center;
                            padding: 25px 0;
                            font-weight: 500;
                            color: #999;
                        }

                        &:nth-of-type(1)::after{
                            content: '';
                            display: block;
                            width: 1px;
                            height: 20px;
                            background-color: #e0e0e0;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                        }

                        &:nth-of-type(1) a{
                            font-weight: bold;
                            color: #1f5153;
                        }
                    }
                    
                    .on{
                        border-bottom: 2px solid #1f5153;
                    }
                }
            }

            .sub-con-box1{
                @include con-box-margin-b();
                h3{
                    @include h3(){
                        font-size: 32px;
                    };
                }

                .traffic-info{
                    .list01{
                        @include flex(center,center){
                            flex-wrap: wrap;
                        }

                        >li{
                            width: 100%;
                            @include flex(flex-start,flex-start);
                            .left{
                                width: 30%;
                                p{
                                    font-size: 24px;
                                    font-weight: 600;
                                    padding: 30px;
                                }
                            }

                            .right{
                                width: 70%;
                                padding: 30px 0;
                                .block{
                                    margin-bottom: 30px;
                                    >p{
                                        line-height: 1.8;
                                        margin-bottom: 10px;
                                        font-weight: 600;
                                    }
                                    .list02{
                                        >li{
                                            @include list-style();
                                            color: #666;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .ad-info{
                    @include flex();
                    padding: 15px 25px;
                    background-color: white;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 3;
                    .location{
                        display: flex;
                        align-items: center;
                        margin-right: 24px;
                        &::before{
                            display: inline-block;
                            content: '';
                            background-image: url('../img/ic-place-green-24-dp.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 24px;
                            height: 24px;
                            background-size: 16px;
                            margin-right: 10px;
                        }
                    }
                    .phone{
                        display: flex;
                        align-items: center;
                        &::before{
                            display: inline-block;
                            content: '';
                            background-image: url('../img/ic-telephone-green-56-dp.svg');
                            background-repeat: no-repeat;
                            background-position: center;
                            width: 24px;
                            height: 24px;
                            background-size: 18px;
                            margin-right: 10px;
                        }
                    }
                }

                .map-box{
                    position: relative;
                    .load-info{
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        display: flex;
                        background-color: white;
                        padding: 10px;
                        z-index: 3;
                        .info-left{
                            line-height: 1.8;
                            width: 200px;
                            >.title{
                                font-size: 14px;
                            }
                            >.address{
                                font-size: 12px;
                            }
                            .review-box{
                                >.review-num{
                                    font-size: 14px;
                                }
                                >.star{
                                    font-size: 12px;
                                }
                                >a{
                                    font-size: 12px;
                                    color: #1a73e8;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                            >.big-map{
                                font-size: 12px;
                                color: #1a73e8;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                    }
                    
                    .info-right{
                        >a{
                            .nav-img{
                                background-image: url("../img/direction.png");
                                width: 24px;
                                height: 24px;
                                margin: auto;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                            >p{
                                font-size: 12px;
                                color: #1a73e8;
                                padding: 2px 0;
                            }
                            &:hover .nav-img{
                                background-image: url("../img/direction-on.png");
                            }
                            &:hover >p{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                }
            }
        }
    }

