@import "_reset";
@import "_mixin";
@import "_inc";

@include sub-header();

.sub-con{
    .page-view{
        @include pg();
        }

        .con-box{
            @include sub-width-auto();
            margin-bottom: 100px;
            .sub-title{
                @include sub-title();
                background-image: url("../img/deco-guide.svg");
                background-repeat: no-repeat;
                animation: qwe 2s forwards;
                background-position: 180% -300%;

            }
            @keyframes qwe {
                0%{
                    background-position: 180% -300%;
                }

                100%{
                    background-position: 90% -300%;
                }   
            }
        }

        .sub-con-box1{


            .search-box{
                @include flex(space-between,center);
                padding-bottom: 20px;
                border-bottom: 1px solid #e0e0e0;
                .left{
                    @include flex(space-between,center);
                    .form-box{
                        form{
                            select{
                                appearance: none;
                                margin-right: 15px;
                                height: 48px;
                                padding: 0 42px 0 24px;
                                color: #666;
                                font-size: 16px;
                                border: 1px solid #bdbdbd;
                                background-image: url('../img/ic-dropdown-black-12-dp.svg');
                                background-repeat: no-repeat;
                                background-position: right 18px center;
                                background-size: 10px;
                                option{

                                }
                            }
                        }
                    }

                    .refresh{
                        span{
                            display: block;
                            height: 48px;
                            border: 1px solid #bdbdbd;
                            text-align: center;
                            line-height: 48px;
                            color: #666;
                            font-size: 16px;
                            padding: 0 24px;
                            position: relative;
                            &::before{
                                content: '';
                                display: inline-block;
                                margin-right: 16px;
                                vertical-align: -3px;
                                background-image: url('../img/ic-reset-grey-20-dp.svg');
                                background-repeat: no-repeat;
                                width: 16px;
                                height: 16px;
                                background-size: 100%;
                            }
                        }
                    }
                }

                .right{
                    .search-box2{
                        position: relative;
                        input{
                            width: 280px;
                            height: 48px;
                            outline: none;
                            padding: 0 20px;
                            font-size: 16px;
    
                            &::after{
                                content: url('../img/ic-search-grey-24-dp.svg');
                                width: 20px;
                                height: 20px;
                            }
                        }
                        button{
                            cursor: pointer;
                            position: absolute;
                            top: 50%;
                            right: 10%;
                            transform: translate(-10%,-50%);
                            background-image: url('../img/ic-search-grey-24-dp.svg');
                            background-repeat: no-repeat;
                            width: 18px;
                            height: 18px;
                            background-size: 100%;
                            border: none;
                            outline: none;
                            background-color: white;
                        }
                    }
                }
            }

            .img-box{
                padding-top: 30px;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    
                    li{
                        width: 50%;

                        a{
                            display: block;
                            width: 100%;

                            padding: 0px 15px;
                            figure{
                                width: 100%;

                                .img{
                                    width: 100%;
                                    overflow: hidden;

                                    img{
                                        width: 100%;
                                        height: 360px;
                                        object-fit: cover;
                                        transition: all 1s;
                                    }
                                }

                                figcaption{
                                    padding: 30px 0;
                                    .badge{
                                        display: inline-block;
                                        color: black;
                                        background-color: white;
                                        border: 2px solid #1f5153;
                                        padding: 5px 15px;
                                        font-size: 14px;
                                        font-weight: 600;
                                        margin: 14px 0;
                                    }
                                    .info{
                                        .sid-title{
                                            font-size: 24px;
                                            font-weight: bold;
                                            margin-bottom: 10px;
                                        }

                                        dl{
                                            line-height: 2;
                                            font-size: 14px;
                                            dt{
                                                float: left;
                                                margin-right: 15px;
                                            }

                                            dd{

                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &:hover img{
                            transform: scale(1.1);
                        }
                    }
                }
            }

        }
    }



    @import "_t-inc";
    @import "_m-inc";