* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 350px;
  height: 530px;
  float: left;
  background: #D26;
  border-radius: 5px;
  margin: 0 20px;
}

.grid-item img {
  width: 100%;
  height: 100%;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 560px; }
.grid-item--height4 { height: 860px; }

.aa{
  width: 100%;
  height: 100%;
  position: relative;
}

.screen{
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.screen span {
  display: block;
  padding: 20px 30px;
  background-color: #1f5153;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}