html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
  color: black;
  font-family: "NotoSansKR-Regular";
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

img {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: NotoSansKR-Black;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Black.otf");
}
@font-face {
  font-family: NotoSansKR-Bold;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: NotoSansKR-Medium;
  src: url("/font/Noto_Sans_KR/NotoSansKR-Medium.otf");
}
.header {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}
.header .head {
  margin: 0 auto;
  max-width: 2200px;
  padding: 0 5.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .head .logo {
  flex-grow: 1;
}
.header .head nav {
  flex: 1 1 20%;
}
.header .head nav .menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .head nav .menu-bar li {
  position: relative;
}
.header .head nav .menu-bar li a {
  color: #333;
  display: block;
  padding: 36px 10px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
.header .head nav .menu-bar li .drop {
  display: none;
  text-align: left;
  width: 180px;
  position: absolute;
}
.header .head nav .menu-bar li .drop li {
  background-color: white;
}
.header .head nav .menu-bar li .drop li a {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 24px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}
.header .head nav .menu-bar li .drop li a:hover {
  background-color: #1f5153;
  color: white;
  transition: 0.5s;
}
.header .head nav .menu-bar li:hover .drop {
  display: block;
}
.header .head .search-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .head .search-menu form input {
  width: 130px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}
.header .head .search-menu form button {
  border: none;
  outline: none;
  background: none;
}
.header .head .search-menu form button img {
  padding: 0 6px;
  cursor: pointer;
}
.header .head .search-menu form::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.12);
}
.header .head .search-menu select {
  margin-right: 4%;
  padding: 0 4%;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  cursor: pointer;
}
.header .head .hammenu {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #1f5153;
  z-index: 12;
  cursor: pointer;
}
.header .head .hammenu .ham {
  width: 20px;
  height: 14px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .head .hammenu .ham span {
  position: absolute;
  width: 18px;
  height: 2px;
  display: block;
  background-color: #fff;
}
.header .head .hammenu .ham span:nth-of-type(2) {
  top: 50%;
}
.header .head .hammenu .ham span:nth-of-type(3) {
  top: 100%;
}

.footer {
  width: 100%;
  background-color: #333;
}
.footer .footer-con {
  margin: 0 auto;
  max-width: 2200px;
  padding: 100px 5.2%;
  background-color: #333;
  position: relative;
}
.footer .footer-con .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-con .footer-top .footer-logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-con .footer-top .footer-logo-box a {
  margin-right: 38px;
}
.footer .footer-con .footer-top .footer-logo-box a img {
  height: 32px;
}
.footer .footer-con .footer-top .footer-select-box select {
  font-size: 14px;
  width: 170px;
  padding: 5px 15px;
  font-weight: 800;
  background: none;
  border: 1px solid #333;
  color: white;
}
.footer .footer-con .footer-top .footer-select-box select option {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}
.footer .footer-con .footer-middle {
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer .footer-con .footer-middle address {
  font-size: 14px;
  line-height: 2;
  color: #999;
  font-style: normal;
}
.footer .footer-con .footer-middle .sns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
}
.footer .footer-con .footer-middle .sns li {
  margin-right: 12px;
}
.footer .footer-con .footer-middle .sns li a {
  display: block;
}
.footer .footer-con .footer-middle .sns li a img {
  display: block;
}
.footer .footer-con .footer-bottom {
  padding-top: 24px;
}
.footer .footer-con .footer-bottom p {
  font-size: 14px;
  color: #999;
  font-weight: bold;
}
.footer .footer-con .scroll-top {
  position: fixed;
  bottom: 5%;
  right: 3%;
  background-image: url("../img/icon-angle_up_white.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 50% 50%;
  width: 60px;
  height: 60px;
  background-color: #333;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  z-index: 99;
}

.header {
  position: relative;
}

.sub-con .page-view {
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 98;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.sub-con .page-view .pg1 {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.sub-con .page-view .pg1 .home {
  padding: 15px;
  border-left: 1px solid #eaeaea;
}
.sub-con .page-view .pg1 .qa {
  cursor: pointer;
  position: relative;
  width: 165px;
  text-align: left;
  border-left: 1px solid #eaeaea;
}
.sub-con .page-view .pg1 .qa:nth-last-of-type(1) {
  border-right: 1px solid #eaeaea;
}
.sub-con .page-view .pg1 .qa:hover .pg2 {
  display: block;
}
.sub-con .page-view .pg1 .qa p {
  padding: 15px;
  font-size: 16px;
}
.sub-con .page-view .pg1 .qa::after {
  content: url("../img/ic-dropdown-black-12-dp.svg");
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-80%);
}
.sub-con .page-view .pg1 .pg2 {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
}
.sub-con .page-view .pg1 .pg2 li {
  border: none;
}
.sub-con .page-view .pg1 .pg2 li a {
  font-weight: 500;
  background-color: white;
  color: #999;
  font-size: 14px;
  padding: 10px 10px;
  display: block;
  text-align: left;
  white-space: nowrap;
}
.sub-con .page-view .pg1 .pg2 li a:hover {
  color: #1f5153;
}
.sub-con .con-box {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0%;
  margin-bottom: 100px;
}
.sub-con .con-box .sub-title {
  padding: 60px 0;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  background-image: url("../img/deco-guide.svg");
  background-repeat: no-repeat;
  animation: qwe 2s forwards;
  background-position: 180% -300%;
}
@keyframes qwe {
  0% {
    background-position: 180% -300%;
  }
  100% {
    background-position: 90% -300%;
  }
}
.sub-con .sub-con-box1 .search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.sub-con .sub-con-box1 .search-box .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-con .sub-con-box1 .search-box .left .form-box form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 15px;
  height: 48px;
  padding: 0 42px 0 24px;
  color: #666;
  font-size: 16px;
  border: 1px solid #bdbdbd;
  background-image: url("../img/ic-dropdown-black-12-dp.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: 10px;
}
.sub-con .sub-con-box1 .search-box .left .refresh span {
  display: block;
  height: 48px;
  border: 1px solid #bdbdbd;
  text-align: center;
  line-height: 48px;
  color: #666;
  font-size: 16px;
  padding: 0 24px;
  position: relative;
}
.sub-con .sub-con-box1 .search-box .left .refresh span::before {
  content: "";
  display: inline-block;
  margin-right: 16px;
  vertical-align: -3px;
  background-image: url("../img/ic-reset-grey-20-dp.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: 100%;
}
.sub-con .sub-con-box1 .search-box .right .search-box2 {
  position: relative;
}
.sub-con .sub-con-box1 .search-box .right .search-box2 input {
  width: 280px;
  height: 48px;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
}
.sub-con .sub-con-box1 .search-box .right .search-box2 input::after {
  content: url("../img/ic-search-grey-24-dp.svg");
  width: 20px;
  height: 20px;
}
.sub-con .sub-con-box1 .search-box .right .search-box2 button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-10%, -50%);
  background-image: url("../img/ic-search-grey-24-dp.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-size: 100%;
  border: none;
  outline: none;
  background-color: white;
}
.sub-con .sub-con-box1 .img-box {
  padding-top: 30px;
}
.sub-con .sub-con-box1 .img-box ul {
  display: flex;
  flex-wrap: wrap;
}
.sub-con .sub-con-box1 .img-box ul li {
  width: 50%;
}
.sub-con .sub-con-box1 .img-box ul li a {
  display: block;
  width: 100%;
  padding: 0px 15px;
}
.sub-con .sub-con-box1 .img-box ul li a figure {
  width: 100%;
}
.sub-con .sub-con-box1 .img-box ul li a figure .img {
  width: 100%;
  overflow: hidden;
}
.sub-con .sub-con-box1 .img-box ul li a figure .img img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s;
}
.sub-con .sub-con-box1 .img-box ul li a figure figcaption {
  padding: 30px 0;
}
.sub-con .sub-con-box1 .img-box ul li a figure figcaption .badge {
  display: inline-block;
  color: black;
  background-color: white;
  border: 2px solid #1f5153;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 600;
  margin: 14px 0;
}
.sub-con .sub-con-box1 .img-box ul li a figure figcaption .info .sid-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sub-con .sub-con-box1 .img-box ul li a figure figcaption .info dl {
  line-height: 2;
  font-size: 14px;
}
.sub-con .sub-con-box1 .img-box ul li a figure figcaption .info dl dt {
  float: left;
  margin-right: 15px;
}
.sub-con .sub-con-box1 .img-box ul li:hover img {
  transform: scale(1.1);
}/*# sourceMappingURL=permanent-exhibition.css.map */