@mixin flex($x: flex-start, $y: flex-end) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    @content;
}

@mixin main-width-auto($w: 2200px, $p:0 5.2%) {
    margin: 0 auto;
    max-width: $w;
    padding: $p;
}

@mixin sub-width-auto($w: 1280px, $p:0%) {
    margin: 0 auto;
    max-width: $w;
    padding: $p;
}
@mixin main-title(){
    padding-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 5px;
    position: relative;
}

@mixin screen(){
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

@mixin screen-span(){
    display: block;
    padding: 24px 33px;
    background-color: #1f5153;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}